@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.licence-text {
  color: $clr_grey_light;
  font-size: $fz-sm;
  text-align: center;
  padding: 5px 15px;
  line-height: 1.3;

  &__container {
    @include respond(break-md);
  }

  a {
    color: $clr_grey_dark;
  }
}
